<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dungeon">던전 입장</a><br/>
    <a href="/home">집으로</a><br/>
    <a href="/hospital">병원</a><br/>
</body>
</html>