<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div>실습 : 파일 업로드</div>
        <form onsubmit="fileUpload(event)">
            <input type="file" id="userfiles" multiple><br/>
            <input type="text" id="title"/><br/>
            <button type="submit">업로드</button><br/>
        </form>
    </body>
    <script>
        async function fileUpload(event){
            event.preventDefault();
            console.log("file upload");
            const title = document.querySelector("#title").value;
            const file = document.querySelector("#userfiles").files;
            const formData = new FormData()
            formData.append("title",title)
            for (var i=0 ; i<file.length; i++){
                formData.append("userfiles",file[i]);
            }
            console.log("formData",formData);
            const res = await axios({
                method:"post",
                url:"/upload",
                data:formData,
                headers:{
                    "Content-Type":"multipart/form-data",
                },
            })
            const body = document.querySelector("body");
            for (var i=0 ; i<res.data.length ; i++){
                let img = document.createElement("img");
                img.setAttribute("src",`${res.data[i].path}`);
                body.append(img);
            }
        }
    </script>
</html>
