<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="abc/css/training1_style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="environment">
        <div class="blue part"></div>
        <div class="white eye"></div>
        <div class="black hitomi"></div>
        <div class="darkslateblue part"></div>
        <div class="navy part"></div>
        <div class="gray part"></div>
        <div class="cadetblue part"></div>
        <img src="abc/img/pngwing.com.png" class="grass">
    </div>
</body>
</html>