<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i=0; i<number.length; i++){ %>
        <% num=number[i] %>
        <div>구구단 <%= num + "단"%></div>
        <% for (var j=1; j<10 ; j++){ %>
            <div><%= `${num} X ${j} = ${num*j}` %></div>
        <% } %>
        <br/>
    <% } %>
</body>
</html>