<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <!-- <div> 싱글 연습 </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="userfile"/><br/>
            <input type="text" name="title"/><br/>
            <button type="submit">업로드</button>
        </form> -->

        <div> 멀티 연습 ver 1 </div>
        <form action="/upload/array" method="post" enctype="multipart/form-data">
            <input type="file" name="userfiles" multiple /> <br/>
            <input type="text" name="title"/><br/>
            <button type="submit">업로드</button>
        </form>

        <!-- <div> 멀티 연습 ver 2 </div>
        <form action="/upload/fields" method="post" enctype="multipart/form-data">
            <input type="file" name="userfile1"/><br/>
            <input type="file" name="userfile2"/><br/>
            <input type="text" name="title1"/><br/>
            <input type="text" name="title2"/><br/>
            <button type="submit">업로드</button>
        </form> -->

        <div> 동적 파일 업로드 </div>
        <form onsubmit="fileupload(event)">
            <input type="file" id="dynamic"/><br/>
            <input type="text" id="title"/><br/>
            <button type="submit">업로드</button>
        </form>
        <br/>
        <div class="result"></div>
        <script>
            const resultBox = document.querySelector(".result");
            async function fileupload(event){
                event.preventDefault(); // 기본 제출 동작을 막음
                console.log("file upload");
                const title = document.querySelector("#title").value;
                const file = document.querySelector("#dynamic").files[0];
                console.log(file);

                const formData = new FormData()
                // 자바스크립트 내장 객체, 폼 데이터를 생성시켜 줌
                formData.append("title",title)
                formData.append("dynamic",file)
                // multer에서 file은 항상 마지막에 append 해야 함

                const res = await axios({
                    method:"post",
                    url:"/dynamic",
                    data:formData,
                    headers:{
                        "Content-Type":"multipart/form-data",
                    },
                });
                console.log("res",res);
                resultBox.innerHTML = `<img src=${res.data.path}/>`
            }
        </script>
    </body>
</html>
