<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form name="signup-form">
        <input type="text" name="name" placeholder="이름"/><br/>
        <input type="text" name="userid" placeholder="아이디"><br/>
        <input type="password" name="pw" placeholder="비밀번호"><br/>
        <button type="button" onclick="userSignUp()">회원가입</button>
    </form>
</body>
<script>
    async function userSignUp(){
        const form = document.forms["signup-form"];
        try {
            const data = {
                name:forms.name.value,
                userid:forms.userid.value,
                pw:forms.pw.value,
            }
            const res = await axios({
                method:"post",
                url:"/signup",
                data,
            })
            if (!res.data.result){
                alert("아이디가 일치하여 회원가입 할 수 없습니다")
                return;
            } else{
                alert("회원가입에 성공했습니다")
                window.location.assign("/signin")
            }
        } catch (error) {
            console.log(error);
        }
    }
</script>
</html>